<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.mapper.HealthOrderMapper">
  <resultMap id="BaseResultMap" type="com.health.entity.HealthOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_name" jdbcType="VARCHAR" property="orderName" />
    <result column="order_front_img" jdbcType="VARCHAR" property="orderFrontImg" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from health_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.health.entity.HealthOrder">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into health_order (id, order_name, order_front_img
      )
    values (#{id,jdbcType=INTEGER}, #{orderName,jdbcType=VARCHAR}, #{orderFrontImg,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.health.entity.HealthOrder">
    update health_order
    set order_name = #{orderName,jdbcType=VARCHAR},
      order_front_img = #{orderFrontImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_name, order_front_img
    from health_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_name, order_front_img
    from health_order
  </select>
</mapper>